li {
    list-style: none;
    padding: 10px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 250px;
    border-radius: 30px;
}


input {
    width: 100%;
    height: 100%;
    font-size: 20px;
}

input:focus {outline: none;}

.navbar {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.navbar-content {
    display: flex;
    font-size: 25px;
    justify-content: center;
}

.logo {
    margin: 35px 10px 10px 10px;
}

.btn1 {
    font-size: 20px;
    border-radius: 25px;
    width: 70px;
    height: 50px;
    background-color: black;
    color: white;
    margin: 20px;
}

.btn2 {
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: white;
    padding-top: 5px;
}

.btn2-menu {
    display: none;
    position: absolute;
    top: 70px;
    width: 150px;
    height: 40px;
    font-size: 16px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    background: #ccc;
}

.btn2-open {
    display: block;
}

.ch1 {
    background: gray;
    border-radius: 5px;
}

.ch2 {
    background: green;
    border-radius: 5px;
}

.searchbar {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 950px;
    height: 30px;
    padding: 10px;
    font-size: 20px;
    border: 0;
    border-radius: 25px;
    margin-top: 20px;
    background-color: rgb(225, 225, 225);
}

.icon {
    display: flex;
    margin: 25px 0 0 10px;
}

.navbar-icon {
    padding: 5px 10px 10px;
}

.img-list {
    display: flex;
}

.img-content {
    position: absolute;
}